.pop_box {
  display: none;
  position: absolute;
  top: 55px;
  right: 5px;
  border: 2px solid var(--blr);
  color: var(--clr);
  min-width: 100px;
  margin: 0;
  border-radius: 8px;
  transition: 0.5s;
}
.pop_box.active {
  display: block;
  opacity: 1;
}

.pop_box ul {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0px;
  padding: 0px;
}

.pop_box ul li {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.pop_box ul li:hover a{
  background-color: var(--blr);
  color: var(--clr);
  width: 100%;
  right: 5px;
  border-radius: 4px;
  transition: 0.4s;
}

.pop_box ul li a {
  text-decoration: none;
  color: var(--blr);
  padding: 5px;
}

.Settings, .About, .Help, .Community {
  display: none;
  background-color: var(--clr);
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

.top_settings, .top_about, .top_help, .top_community {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--blr);
}

.top_bar_pop h2 {
  color: var(--blr);
}

.back {
  color: var(--blr);
  font-size: 24px;
  padding: 18px;
}

.back ion-icon:hover{
  font-size: 26px;
  padding-right: 1px;
}

.pop_text{
  width: 100%;
}
